@font-face {
	font-family: "InknutAntiqua";
	src: url("InknutAntiqua-Light.otf");
	font-weight:300;
	font-style: normal;
}
@font-face {
	font-family: "Uttara";
	src: url("uttara.ttf");
	font-weight:400;
	font-style: normal;
}
@font-face {
	font-family: "Chandas";
	src: url("chandas.ttf");
	font-weight:400;
	font-style: normal;
}
@font-face {
	font-family: "AdobeDevanagari";
	src: url("AdobeDevanagari-Regular.otf");
	font-weight:400;
	font-style: normal;
}
