<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-130</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-170</integer>
		<key>Y</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_comma</key>
		<integer>-160</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>AE</key>
		<integer>-140</integer>
		<key>period</key>
		<integer>-160</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-120</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-190</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-160</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>Germandbls</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_a</key>
		<integer>-130</integer>
		<key>@MMK_R_comma</key>
		<integer>-130</integer>
		<key>@MMK_R_n</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-130</integer>
		<key>@MMK_R_s</key>
		<integer>-110</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>AE</key>
		<integer>-150</integer>
		<key>period</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_quotesingle</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_eight.dnom</key>
	<dict>
		<key>@MMK_R_four.dnom</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_eight.numr</key>
	<dict>
		<key>@MMK_R_four.numr</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>200</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_hacek</key>
	<dict>
		<key>@MMK_R_l</key>
		<integer>210</integer>
		<key>@MMK_R_t</key>
		<integer>90</integer>
		<key>exclam</key>
		<integer>230</integer>
		<key>question</key>
		<integer>220</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_quotesingle</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-170</integer>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-130</integer>
		<key>@MMK_R_s</key>
		<integer>-70</integer>
		<key>AE</key>
		<integer>-160</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_ra-deva</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_seven.dnom</key>
	<dict>
		<key>@MMK_R_four.dnom</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-120</integer>
		<key>@MMK_R_l</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_comma</key>
		<integer>-160</integer>
		<key>@MMK_R_o</key>
		<integer>-140</integer>
		<key>AE</key>
		<integer>-160</integer>
		<key>period</key>
		<integer>-160</integer>
	</dict>
	<key>aaMatra-deva</key>
	<dict>
		<key>a-deva</key>
		<integer>70</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>four</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-60</integer>
		<key>two</key>
		<integer>-20</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>three</key>
		<integer>-20</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>five.dnom</key>
		<integer>-20</integer>
		<key>four.dnom</key>
		<integer>-200</integer>
		<key>two.dnom</key>
		<integer>-30</integer>
		<key>zero.dnom</key>
		<integer>-80</integer>
	</dict>
	<key>germandbls</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>five</key>
		<integer>-20</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>@MMK_R_quotesingle</key>
		<integer>-70</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>questiondown</key>
		<integer>-130</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>four</key>
		<integer>-100</integer>
		<key>two</key>
		<integer>-20</integer>
	</dict>
	<key>seven.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-80</integer>
	</dict>
	<key>six.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-20</integer>
	</dict>
	<key>tcaron</key>
	<dict>
		<key>@MMK_R_l</key>
		<integer>100</integer>
		<key>exclam</key>
		<integer>100</integer>
		<key>question</key>
		<integer>100</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>zero.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-60</integer>
	</dict>
</dict>
</plist>
