<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Cdotaccent</key>
	<string>C_dotaccent.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Delta</key>
	<string>D_elta.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Eight-roman</key>
	<string>E_ight-roman.glif</string>
	<key>Eleven-roman</key>
	<string>E_leven-roman.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>Fifty-roman</key>
	<string>F_ifty-roman.glif</string>
	<key>Five-roman</key>
	<string>F_ive-roman.glif</string>
	<key>Fivehundred-roman</key>
	<string>F_ivehundred-roman.glif</string>
	<key>Four-roman</key>
	<string>F_our-roman.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>Gdotaccent</key>
	<string>G_dotaccent.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>Hundred-roman</key>
	<string>H_undred-roman.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Iacute_J.loclNLD</key>
	<string>I_acute_J_.loclN_L_D_.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Ldot</key>
	<string>L_dot.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Nine-roman</key>
	<string>N_ine-roman.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohm</key>
	<string>O_hm.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>One-roman</key>
	<string>O_ne-roman.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Scommaaccent</key>
	<string>S_commaaccent.glif</string>
	<key>Seven-roman</key>
	<string>S_even-roman.glif</string>
	<key>Six-roman</key>
	<string>S_ix-roman.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T_h</key>
	<string>T__h.glif</string>
	<key>Tbar</key>
	<string>T_bar.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcedilla</key>
	<string>T_cedilla.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Ten-roman</key>
	<string>T_en-roman.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>Thousand-roman</key>
	<string>T_housand-roman.glif</string>
	<key>Three-roman</key>
	<string>T_hree-roman.glif</string>
	<key>Twelve-roman</key>
	<string>T_welve-roman.glif</string>
	<key>Two-roman</key>
	<string>T_wo-roman.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>W_acute.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>Wdieresis</key>
	<string>W_dieresis.glif</string>
	<key>Wgrave</key>
	<string>W_grave.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a-deva</key>
	<string>a-deva.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>aShort-deva</key>
	<string>aS_hort-deva.glif</string>
	<key>aa-deva</key>
	<string>aa-deva.glif</string>
	<key>aaMatra-deva</key>
	<string>aaM_atra-deva.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.ss01</key>
	<string>aacute.ss01.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.ss01</key>
	<string>abreve.ss01.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.ss01</key>
	<string>acircumflex.ss01.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute-deva</key>
	<string>acute-deva.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.ss01</key>
	<string>adieresis.ss01.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ae.ss01</key>
	<string>ae.ss01.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.ss01</key>
	<string>agrave.ss01.glif</string>
	<key>ai-deva</key>
	<string>ai-deva.glif</string>
	<key>aiMatra-deva</key>
	<string>aiM_atra-deva.glif</string>
	<key>aiMatra_Anusvara-deva</key>
	<string>aiM_atra_A_nusvara-deva.glif</string>
	<key>aiMatra_reph-deva</key>
	<string>aiM_atra_reph-deva.glif</string>
	<key>aiMatra_reph_anusvara-deva</key>
	<string>aiM_atra_reph_anusvara-deva.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.ss01</key>
	<string>amacron.ss01.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.case</key>
	<string>ampersand.case.glif</string>
	<key>anudatta-deva</key>
	<string>anudatta-deva.glif</string>
	<key>anusvara-deva</key>
	<string>anusvara-deva.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.ss01</key>
	<string>aogonek.ss01.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.ss01</key>
	<string>aring.ss01.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asterism</key>
	<string>asterism.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.ss01</key>
	<string>atilde.ss01.glif</string>
	<key>au-deva</key>
	<string>au-deva.glif</string>
	<key>auMatra-deva</key>
	<string>auM_atra-deva.glif</string>
	<key>auMatra_reph-deva</key>
	<string>auM_atra_reph-deva.glif</string>
	<key>auMatra_reph_anusvara-deva</key>
	<string>auM_atra_reph_anusvara-deva.glif</string>
	<key>aw-deva</key>
	<string>aw-deva.glif</string>
	<key>awMatra-deva</key>
	<string>awM_atra-deva.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b-deva</key>
	<string>b-deva.glif</string>
	<key>ba-deva</key>
	<string>ba-deva.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bba-deva</key>
	<string>bba-deva.glif</string>
	<key>bh-deva</key>
	<string>bh-deva.glif</string>
	<key>bha-deva</key>
	<string>bha-deva.glif</string>
	<key>blackLeftPointingIndex</key>
	<string>blackL_eftP_ointingI_ndex.glif</string>
	<key>blackRightPointingIndex</key>
	<string>blackR_ightP_ointingI_ndex.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bulletoperator</key>
	<string>bulletoperator.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c-deva</key>
	<string>c-deva.glif</string>
	<key>ca-deva</key>
	<string>ca-deva.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>candraBindu-deva</key>
	<string>candraB_indu-deva.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>ch-deva</key>
	<string>ch-deva.glif</string>
	<key>cha-deva</key>
	<string>cha-deva.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>curvedStemParagraphSignOrnament</key>
	<string>curvedS_temP_aragraphS_ignO_rnament.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>da-deva</key>
	<string>da-deva.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dda-deva</key>
	<string>dda-deva.glif</string>
	<key>ddda-deva</key>
	<string>ddda-deva.glif</string>
	<key>ddha-deva</key>
	<string>ddha-deva.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dh-deva</key>
	<string>dh-deva.glif</string>
	<key>dha-deva</key>
	<string>dha-deva.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.case</key>
	<string>dieresis.case.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>downArrow</key>
	<string>downA_rrow.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e-deva</key>
	<string>e-deva.glif</string>
	<key>eCandraMatra-deva</key>
	<string>eC_andraM_atra-deva.glif</string>
	<key>eLongCandra-deva</key>
	<string>eL_ongC_andra-deva.glif</string>
	<key>eMatra-deva</key>
	<string>eM_atra-deva.glif</string>
	<key>eMatra_anusvara-deva</key>
	<string>eM_atra_anusvara-deva.glif</string>
	<key>eMatra_reph-deva</key>
	<string>eM_atra_reph-deva.glif</string>
	<key>eMatra_reph_anusvara-deva</key>
	<string>eM_atra_reph_anusvara-deva.glif</string>
	<key>eShort-deva</key>
	<string>eS_hort-deva.glif</string>
	<key>eShortMatra-deva</key>
	<string>eS_hortM_atra-deva.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.numr</key>
	<string>eight.numr.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.case</key>
	<string>exclamdown.case.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_adieresis.liga</key>
	<string>f_adieresis.liga.glif</string>
	<key>f_b.liga</key>
	<string>f_b.liga.glif</string>
	<key>f_eth.liga</key>
	<string>f_eth.liga.glif</string>
	<key>f_f.liga</key>
	<string>f_f.liga.glif</string>
	<key>f_f_adieresis.liga</key>
	<string>f_f_adieresis.liga.glif</string>
	<key>f_f_b.liga</key>
	<string>f_f_b.liga.glif</string>
	<key>f_f_eth.liga</key>
	<string>f_f_eth.liga.glif</string>
	<key>f_f_h.liga</key>
	<string>f_f_h.liga.glif</string>
	<key>f_f_i.liga</key>
	<string>f_f_i.liga.glif</string>
	<key>f_f_idieresis.liga</key>
	<string>f_f_idieresis.liga.glif</string>
	<key>f_f_igrave.liga</key>
	<string>f_f_igrave.liga.glif</string>
	<key>f_f_iogonek.liga</key>
	<string>f_f_iogonek.liga.glif</string>
	<key>f_f_j.liga</key>
	<string>f_f_j.liga.glif</string>
	<key>f_f_k.liga</key>
	<string>f_f_k.liga.glif</string>
	<key>f_f_kcommaaccent.liga</key>
	<string>f_f_kcommaaccent.liga.glif</string>
	<key>f_f_l.liga</key>
	<string>f_f_l.liga.glif</string>
	<key>f_f_lcaron.liga</key>
	<string>f_f_lcaron.liga.glif</string>
	<key>f_f_lcommaaccent.liga</key>
	<string>f_f_lcommaaccent.liga.glif</string>
	<key>f_f_odieresis.liga</key>
	<string>f_f_odieresis.liga.glif</string>
	<key>f_h.liga</key>
	<string>f_h.liga.glif</string>
	<key>f_idieresis.liga</key>
	<string>f_idieresis.liga.glif</string>
	<key>f_igrave.liga</key>
	<string>f_igrave.liga.glif</string>
	<key>f_iogonek.liga</key>
	<string>f_iogonek.liga.glif</string>
	<key>f_j.liga</key>
	<string>f_j.liga.glif</string>
	<key>f_k.liga</key>
	<string>f_k.liga.glif</string>
	<key>f_kcommaaccent.liga</key>
	<string>f_kcommaaccent.liga.glif</string>
	<key>f_lcaron.liga</key>
	<string>f_lcaron.liga.glif</string>
	<key>f_lcommaaccent.liga</key>
	<string>f_lcommaaccent.liga.glif</string>
	<key>f_odieresis.liga</key>
	<string>f_odieresis.liga.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>five.numr</key>
	<string>five.numr.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>floralHeart</key>
	<string>floralH_eart.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g-deva</key>
	<string>g-deva.glif</string>
	<key>g.ss02</key>
	<string>g.ss02.glif</string>
	<key>ga-deva</key>
	<string>ga-deva.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gbreve.ss02</key>
	<string>gbreve.ss02.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gcommaaccent.ss02</key>
	<string>gcommaaccent.ss02.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>gdotaccent.ss02</key>
	<string>gdotaccent.ss02.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.calt</key>
	<string>germandbls.calt.glif</string>
	<key>gga-deva</key>
	<string>gga-deva.glif</string>
	<key>gh-deva</key>
	<string>gh-deva.glif</string>
	<key>gha-deva</key>
	<string>gha-deva.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave-deva</key>
	<string>grave-deva.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h-deva</key>
	<string>h-deva.glif</string>
	<key>ha-deva</key>
	<string>ha-deva.glif</string>
	<key>hacek</key>
	<string>hacek.glif</string>
	<key>halant-deva</key>
	<string>halant-deva.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlaut.case</key>
	<string>hungarumlaut.case.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i-deva</key>
	<string>i-deva.glif</string>
	<key>iMatra-deva</key>
	<string>iM_atra-deva.glif</string>
	<key>iMatra_reph-deva</key>
	<string>iM_atra_reph-deva.glif</string>
	<key>iMatra_reph_anusvara-deva</key>
	<string>iM_atra_reph_anusvara-deva.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>iacute_j.loclNLD</key>
	<string>iacute_j.loclN_L_D_.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotaccent</key>
	<string>idotaccent.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ii-deva</key>
	<string>ii-deva.glif</string>
	<key>iiMatra-deva</key>
	<string>iiM_atra-deva.glif</string>
	<key>iiMatra_reph-deva</key>
	<string>iiM_atra_reph-deva.glif</string>
	<key>iiMatra_reph_anusvara-deva</key>
	<string>iiM_atra_reph_anusvara-deva.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>increment</key>
	<string>increment.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>invertedCandraBindu-deva</key>
	<string>invertedC_andraB_indu-deva.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j-deva</key>
	<string>j-deva.glif</string>
	<key>ja-deva</key>
	<string>ja-deva.glif</string>
	<key>jh-deva</key>
	<string>jh-deva.glif</string>
	<key>jha-deva</key>
	<string>jha-deva.glif</string>
	<key>jja-deva</key>
	<string>jja-deva.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k-deva</key>
	<string>k-deva.glif</string>
	<key>ka-deva</key>
	<string>ka-deva.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kh-deva</key>
	<string>kh-deva.glif</string>
	<key>kha-deva</key>
	<string>kha-deva.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l-deva</key>
	<string>l-deva.glif</string>
	<key>lVocalic-deva</key>
	<string>lV_ocalic-deva.glif</string>
	<key>lVocalicMatra-deva</key>
	<string>lV_ocalicM_atra-deva.glif</string>
	<key>la-deva</key>
	<string>la-deva.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>leftArrow</key>
	<string>leftA_rrow.glif</string>
	<key>leftRightArrow</key>
	<string>leftR_ightA_rrow.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>literSign</key>
	<string>literS_ign.glif</string>
	<key>ll-deva</key>
	<string>ll-deva.glif</string>
	<key>llVocalic-deva</key>
	<string>llV_ocalic-deva.glif</string>
	<key>llVocalicMatra-deva</key>
	<string>llV_ocalicM_atra-deva.glif</string>
	<key>lla-deva</key>
	<string>lla-deva.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m-deva</key>
	<string>m-deva.glif</string>
	<key>ma-deva</key>
	<string>ma-deva.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macron.case</key>
	<string>macron.case.glif</string>
	<key>micro</key>
	<string>micro.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>minute</key>
	<string>minute.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n-deva</key>
	<string>n-deva.glif</string>
	<key>na-deva</key>
	<string>na-deva.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nga-deva</key>
	<string>nga-deva.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.numr</key>
	<string>nine.numr.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>nn-deva</key>
	<string>nn-deva.glif</string>
	<key>nna-deva</key>
	<string>nna-deva.glif</string>
	<key>northEastArrow</key>
	<string>northE_astA_rrow.glif</string>
	<key>northWestArrow</key>
	<string>northW_estA_rrow.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nukta-deva</key>
	<string>nukta-deva.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numero</key>
	<string>numero.glif</string>
	<key>ny-deva</key>
	<string>ny-deva.glif</string>
	<key>nya-deva</key>
	<string>nya-deva.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o-deva</key>
	<string>o-deva.glif</string>
	<key>oCandraMatra-deva</key>
	<string>oC_andraM_atra-deva.glif</string>
	<key>oMatra-deva</key>
	<string>oM_atra-deva.glif</string>
	<key>oMatra_reph-deva</key>
	<string>oM_atra_reph-deva.glif</string>
	<key>oMatra_reph_anusvara-deva</key>
	<string>oM_atra_reph_anusvara-deva.glif</string>
	<key>oShort-deva</key>
	<string>oS_hort-deva.glif</string>
	<key>oShortMatra-deva</key>
	<string>oS_hortM_atra-deva.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>oe-deva</key>
	<string>oe-deva.glif</string>
	<key>oeMatra-deva</key>
	<string>oeM_atra-deva.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonek.e</key>
	<string>ogonek.e.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>onethird</key>
	<string>onethird.glif</string>
	<key>ooe-deva</key>
	<string>ooe-deva.glif</string>
	<key>ooeMatra-deva</key>
	<string>ooeM_atra-deva.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p-deva</key>
	<string>p-deva.glif</string>
	<key>pa-deva</key>
	<string>pa-deva.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>ph-deva</key>
	<string>ph-deva.glif</string>
	<key>pha-deva</key>
	<string>pha-deva.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>pointingindexdownwhite</key>
	<string>pointingindexdownwhite.glif</string>
	<key>pointingindexleftwhite</key>
	<string>pointingindexleftwhite.glif</string>
	<key>pointingindexrightwhite</key>
	<string>pointingindexrightwhite.glif</string>
	<key>pointingindexupwhite</key>
	<string>pointingindexupwhite.glif</string>
	<key>prishthaMatraE-deva</key>
	<string>prishthaM_atraE_-deva.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>published</key>
	<string>published.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>quadrupleprime</key>
	<string>quadrupleprime.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.case</key>
	<string>questiondown.case.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>rVocalic-deva</key>
	<string>rV_ocalic-deva.glif</string>
	<key>rVocalicMatra-deva</key>
	<string>rV_ocalicM_atra-deva.glif</string>
	<key>ra-deva</key>
	<string>ra-deva.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rakar-deva</key>
	<string>rakar-deva.glif</string>
	<key>rakar_uMatra-deva</key>
	<string>rakar_uM_atra-deva.glif</string>
	<key>rakar_uuMatra-deva</key>
	<string>rakar_uuM_atra-deva.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>reph-deva</key>
	<string>reph-deva.glif</string>
	<key>reph-deva.loclMAR</key>
	<string>reph-deva.loclM_A_R_.glif</string>
	<key>reph_anusvara-deva</key>
	<string>reph_anusvara-deva.glif</string>
	<key>reversedRotatedFloralHeartBullet</key>
	<string>reversedR_otatedF_loralH_eartB_ullet.glif</string>
	<key>rightArrow</key>
	<string>rightA_rrow.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>rotatedFloralHeartBullet</key>
	<string>rotatedF_loralH_eartB_ullet.glif</string>
	<key>rr-deva</key>
	<string>rr-deva.glif</string>
	<key>rrVocalic-deva</key>
	<string>rrV_ocalic-deva.glif</string>
	<key>rrVocalicMatra-deva</key>
	<string>rrV_ocalicM_atra-deva.glif</string>
	<key>rra-deva</key>
	<string>rra-deva.glif</string>
	<key>rupeeIndian</key>
	<string>rupeeI_ndian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s-deva</key>
	<string>s-deva.glif</string>
	<key>sa-deva</key>
	<string>sa-deva.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>second</key>
	<string>second.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>seven.numr</key>
	<string>seven.numr.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>sh-deva</key>
	<string>sh-deva.glif</string>
	<key>sha-deva</key>
	<string>sha-deva.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>six.numr</key>
	<string>six.numr.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>southEastArrow</key>
	<string>southE_astA_rrow.glif</string>
	<key>southWestArrow</key>
	<string>southW_estA_rrow.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ss-deva</key>
	<string>ss-deva.glif</string>
	<key>ssa-deva</key>
	<string>ssa-deva.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t-deva</key>
	<string>t-deva.glif</string>
	<key>ta-deva</key>
	<string>ta-deva.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>th-deva</key>
	<string>th-deva.glif</string>
	<key>tha-deva</key>
	<string>tha-deva.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tripleprime</key>
	<string>tripleprime.glif</string>
	<key>tta-deva</key>
	<string>tta-deva.glif</string>
	<key>ttha-deva</key>
	<string>ttha-deva.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>twoasterisksvertical</key>
	<string>twoasterisksvertical.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>twothirds</key>
	<string>twothirds.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u-deva</key>
	<string>u-deva.glif</string>
	<key>uMatra-deva</key>
	<string>uM_atra-deva.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udatta-deva</key>
	<string>udatta-deva.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ue-deva</key>
	<string>ue-deva.glif</string>
	<key>ueMatra-deva</key>
	<string>ueM_atra-deva.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>upArrow</key>
	<string>upA_rrow.glif</string>
	<key>upDownArrow</key>
	<string>upD_ownA_rrow.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>uu-deva</key>
	<string>uu-deva.glif</string>
	<key>uuMatra-deva</key>
	<string>uuM_atra-deva.glif</string>
	<key>uue-deva</key>
	<string>uue-deva.glif</string>
	<key>uueMatra-deva</key>
	<string>uueM_atra-deva.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v-deva</key>
	<string>v-deva.glif</string>
	<key>va-deva</key>
	<string>va-deva.glif</string>
	<key>visarga-deva</key>
	<string>visarga-deva.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y-deva</key>
	<string>y-deva.glif</string>
	<key>ya-deva</key>
	<string>ya-deva.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
