<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>873</integer>
	<key>capHeight</key>
	<integer>786</integer>
	<key>copyright</key>
	<string>Copyright (c) 2014 by Claus Eggers Sørensen (es@forthehearts.net).</string>
	<key>descender</key>
	<integer>-254</integer>
	<key>description</key>
	<string>»Inknut Antiqua« is an Antiqua typeface for litterature and long-form text. It is designed to evoke Venetian incunabula and humanist manuscripts. It comes with a complement of typographical sorts and OpenType features for the purpose. The proportions of Inknut Antiqua make it well suited for low-resolution screens.</string>
	<key>familyName</key>
	<string>Inknut Antiqua</string>
	<key>fsType</key>
	<array>
		<integer>3</integer>
	</array>
	<key>license</key>
	<string>This Font Software is licensed under the SIL Open Font License Version 1.1. This license is available with a FAQ at http://scripts.sil.org/OFL</string>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2014/12/01 20:30:15</string>
	<key>openTypeNameDesigner</key>
	<string>Claus Eggers Sørensen</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.forthehearts.net</string>
	<key>openTypeNameManufacturer</key>
	<string>Claus Eggers Sørensen</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.forthehearts.net</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Inknut Antiqua</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Light</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>946</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>531</integer>
		<integer>551</integer>
		<integer>571</integer>
		<integer>591</integer>
		<integer>786</integer>
		<integer>806</integer>
		<integer>873</integer>
		<integer>893</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-274</integer>
		<integer>-254</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>41</integer>
		<integer>45</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>120</integer>
		<integer>125</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-175</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>45</integer>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Inknut and Inknut Antiqua are trademarks of Claus Eggers Sørensen.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>vendorID</key>
	<string>FTH</string>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>531</integer>
</dict>
</plist>
