<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-120</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-170</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_comma</key>
		<integer>-220</integer>
		<key>@MMK_R_n</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-110</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>@MMK_R_u</key>
		<integer>-90</integer>
		<key>AE</key>
		<integer>-140</integer>
		<key>period</key>
		<integer>-220</integer>
	</dict>
	<key>@MMK_L_Five-roman</key>
	<dict>
		<key>Hundred-roman</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-150</integer>
		<key>@MMK_R_V</key>
		<integer>-120</integer>
		<key>@MMK_R_Y</key>
		<integer>-120</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_comma</key>
		<integer>-240</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-220</integer>
	</dict>
	<key>@MMK_L_Ten-roman</key>
	<dict>
		<key>Hundred-roman</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_Germandbls</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_comma</key>
		<integer>-150</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-90</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>AE</key>
		<integer>-140</integer>
		<key>period</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-190</integer>
		<key>@MMK_R_o</key>
		<integer>-120</integer>
		<key>AE</key>
		<integer>-130</integer>
		<key>period</key>
		<integer>-190</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_quotesingle</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_eight.dnom</key>
	<dict>
		<key>@MMK_R_four.dnom</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_eight.numr</key>
	<dict>
		<key>@MMK_R_four.numr</key>
		<integer>-10</integer>
		<key>fraction</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_g.ss02</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_hacek</key>
	<dict>
		<key>@MMK_R_l</key>
		<integer>130</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>exclam</key>
		<integer>120</integer>
		<key>question</key>
		<integer>170</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_prime</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>-140</integer>
		<key>eight</key>
		<integer>-20</integer>
		<key>five</key>
		<integer>-60</integer>
		<key>four</key>
		<integer>-250</integer>
		<key>one</key>
		<integer>-30</integer>
		<key>seven</key>
		<integer>-60</integer>
		<key>six</key>
		<integer>-110</integer>
		<key>three</key>
		<integer>-70</integer>
		<key>two</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_quotesingle</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-160</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-150</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-130</integer>
		<key>@MMK_R_s</key>
		<integer>-120</integer>
		<key>@MMK_R_u</key>
		<integer>-60</integer>
		<key>AE</key>
		<integer>-190</integer>
		<key>period</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_seven.dnom</key>
	<dict>
		<key>@MMK_R_four.dnom</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_seven.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_six.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-140</integer>
		<key>@MMK_R_l</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_zero</key>
	<dict>
		<key>@MMK_R_prime</key>
		<integer>-40</integer>
		<key>four</key>
		<integer>-50</integer>
		<key>seven</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_zero.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-70</integer>
	</dict>
	<key>Fifty-roman</key>
	<dict>
		<key>@MMK_R_Five-roman</key>
		<integer>-110</integer>
		<key>Hundred-roman</key>
		<integer>-10</integer>
	</dict>
	<key>Fivehundred-roman</key>
	<dict>
		<key>@MMK_R_Five-roman</key>
		<integer>-40</integer>
		<key>@MMK_R_One-roman</key>
		<integer>-20</integer>
		<key>@MMK_R_Ten-roman</key>
		<integer>-30</integer>
		<key>Five-roman</key>
		<integer>-20</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>@MMK_R_prime</key>
		<integer>-60</integer>
		<key>four</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-40</integer>
		<key>six</key>
		<integer>-20</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>-60</integer>
		<key>four</key>
		<integer>-50</integer>
		<key>seven</key>
		<integer>-50</integer>
		<key>six</key>
		<integer>-60</integer>
		<key>three</key>
		<integer>-10</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>@MMK_R_prime</key>
		<integer>-60</integer>
		<key>five</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>@MMK_R_five.dnom</key>
		<integer>-10</integer>
		<key>@MMK_R_four.dnom</key>
		<integer>-180</integer>
		<key>@MMK_R_two.dnom</key>
		<integer>-20</integer>
		<key>@MMK_R_zero.dnom</key>
		<integer>-100</integer>
	</dict>
	<key>germandbls</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>@MMK_R_prime</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-30</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-140</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>exclamdown</key>
		<integer>-60</integer>
		<key>questiondown</key>
		<integer>-120</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>question</key>
		<integer>-20</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>-40</integer>
		<key>eight</key>
		<integer>-40</integer>
		<key>four</key>
		<integer>-120</integer>
		<key>six</key>
		<integer>-20</integer>
	</dict>
	<key>tcaron</key>
	<dict>
		<key>@MMK_R_l</key>
		<integer>50</integer>
		<key>exclam</key>
		<integer>30</integer>
		<key>question</key>
		<integer>80</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
