<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-120</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-170</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_comma</key>
		<integer>-220</integer>
		<key>@MMK_R_n</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-110</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>@MMK_R_u</key>
		<integer>-90</integer>
		<key>AE</key>
		<integer>-140</integer>
		<key>period</key>
		<integer>-220</integer>
	</dict>
	<key>@MMK_L_Five-roman</key>
	<dict>
		<key>Hundred-roman</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-150</integer>
		<key>@MMK_R_V</key>
		<integer>-120</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_comma</key>
		<integer>-240</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-220</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>Germandbls</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_comma</key>
		<integer>-150</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-90</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>AE</key>
		<integer>-140</integer>
		<key>period</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_aaMatra-deva</key>
	<dict>
		<key>@MMK_R_ya-deva.connect-low</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_b-deva.short-low</key>
	<dict>
		<key>@MMK_R_sha-deva</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_b-deva.short3</key>
	<dict>
		<key>@MMK_R_b-deva</key>
		<integer>30</integer>
		<key>@MMK_R_dh-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_bh-deva.init</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_ch-deva</key>
	<dict>
		<key>y-deva.loop-connect</key>
		<integer>70</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_quotesingle</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_d-deva.top</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_d_da-deva</key>
	<dict>
		<key>@MMK_R_u-deva</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_danda-deva</key>
	<dict>
		<key>@MMK_R_quotesingle.deva</key>
		<integer>-200</integer>
	</dict>
	<key>@MMK_L_dda-deva</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_da-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_sh-deva.loclMAR</key>
		<integer>-20</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-70</integer>
		<key>ya-deva.connect</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_ddha-deva</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>-130</integer>
		<key>@MMK_R_da-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_e-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_hyphen.deva</key>
		<integer>-120</integer>
		<key>@MMK_R_i-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_sh-deva</key>
		<integer>10</integer>
		<key>@MMK_R_sh-deva.loclMAR</key>
		<integer>-60</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>-130</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_th-deva</key>
		<integer>-90</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_u-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-90</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-120</integer>
		<key>@MMK_R_ya-deva.connect-low</key>
		<integer>-80</integer>
		<key>ra-deva</key>
		<integer>-90</integer>
		<key>tt_ddha-deva</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_dh-deva</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_e-deva</key>
	<dict>
		<key>@MMK_R_b-deva</key>
		<integer>10</integer>
		<key>@MMK_R_c-deva</key>
		<integer>30</integer>
		<key>@MMK_R_da-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_g-deva</key>
		<integer>10</integer>
		<key>@MMK_R_j-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_ny-deva</key>
		<integer>10</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_eight.dnom</key>
	<dict>
		<key>@MMK_R_four.dnom</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_eight.numr</key>
	<dict>
		<key>@MMK_R_four.numr</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_g-deva</key>
	<dict>
		<key>@MMK_R_dh-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_h_va-deva</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_ha-deva</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_da-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_e-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_j-deva</key>
		<integer>40</integer>
		<key>@MMK_R_ny-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_hacek</key>
	<dict>
		<key>@MMK_R_l</key>
		<integer>130</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>exclam</key>
		<integer>120</integer>
		<key>question</key>
		<integer>170</integer>
	</dict>
	<key>@MMK_L_hyphen.deva</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>30</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_u-deva</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_ka-deva</key>
	<dict>
		<key>@MMK_R_aaMatra-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_c-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_colon.deva</key>
		<integer>-40</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_dh-deva</key>
		<integer>-120</integer>
		<key>@MMK_R_e-deva</key>
		<integer>-100</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-100</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_hyphen.deva</key>
		<integer>-70</integer>
		<key>@MMK_R_i-deva</key>
		<integer>-110</integer>
		<key>@MMK_R_j-deva</key>
		<integer>-90</integer>
		<key>@MMK_R_ny_ja-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_period.deva</key>
		<integer>-130</integer>
		<key>@MMK_R_quotesingle.deva</key>
		<integer>-10</integer>
		<key>@MMK_R_sh-deva</key>
		<integer>-100</integer>
		<key>@MMK_R_sh-deva.loclMAR</key>
		<integer>-70</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-80</integer>
		<key>y-deva.loop-connect</key>
		<integer>-125</integer>
	</dict>
	<key>@MMK_L_nga-deva</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>30</integer>
		<key>@MMK_R_va-deva</key>
		<integer>10</integer>
		<key>ma-deva.bottom</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_nn-deva</key>
	<dict>
		<key>@MMK_R_aaMatra-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_da-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-90</integer>
		<key>@MMK_R_dda-deva.short</key>
		<integer>-30</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_nn-deva.loclSAN</key>
	<dict>
		<key>@MMK_R_dda-deva.short</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_p-deva</key>
	<dict>
		<key>@MMK_R_gha-deva</key>
		<integer>80</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>50</integer>
		<key>@MMK_R_th-deva</key>
		<integer>120</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-55</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-40</integer>
		<key>fa-deva</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_p-deva.short</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_p-deva.short2</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_p_tta-deva</key>
	<dict>
		<key>@MMK_R_p_tta-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_rr-deva.long-high</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_period.deva</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_prime</key>
	<dict>
		<key>eight</key>
		<integer>-20</integer>
		<key>five</key>
		<integer>-60</integer>
		<key>four</key>
		<integer>-250</integer>
		<key>nine</key>
		<integer>-140</integer>
		<key>one</key>
		<integer>-30</integer>
		<key>seven</key>
		<integer>-60</integer>
		<key>six</key>
		<integer>-110</integer>
		<key>three</key>
		<integer>-70</integer>
		<key>two</key>
		<integer>-100</integer>
		<key>zero</key>
		<integer>-140</integer>
	</dict>
	<key>@MMK_L_quotesingle</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-160</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_comma</key>
		<integer>-150</integer>
		<key>AE</key>
		<integer>-190</integer>
		<key>period</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_quotesingle.deva</key>
	<dict>
		<key>@MMK_R_aa-deva</key>
		<integer>-120</integer>
		<key>@MMK_R_c-deva</key>
		<integer>80</integer>
		<key>@MMK_R_danda-deva</key>
		<integer>-140</integer>
		<key>@MMK_R_g-deva</key>
		<integer>120</integer>
		<key>@MMK_R_va-deva</key>
		<integer>60</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>70</integer>
		<key>exclam.deva</key>
		<integer>-150</integer>
		<key>parenleft.deva</key>
		<integer>-80</integer>
		<key>question.deva</key>
		<integer>-170</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_ra-deva</key>
	<dict>
		<key>@MMK_R_ha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_n-deva</key>
		<integer>-280</integer>
		<key>@MMK_R_rr-deva.short</key>
		<integer>-230</integer>
		<key>@MMK_R_v-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_rr-deva</key>
	<dict>
		<key>@MMK_R_da-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-90</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_th-deva</key>
		<integer>30</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_va-deva</key>
		<integer>38</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_rr-deva.long</key>
	<dict>
		<key>@MMK_R_j-deva</key>
		<integer>-53</integer>
	</dict>
	<key>@MMK_L_rr-deva.long-high</key>
	<dict>
		<key>@MMK_R_dda-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_rr-deva.short</key>
	<dict>
		<key>@MMK_R_da-deva</key>
		<integer>-38</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>30</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>0</integer>
		<key>@MMK_R_va-deva</key>
		<integer>30</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>55</integer>
	</dict>
	<key>@MMK_L_rr-deva.short-high</key>
	<dict>
		<key>@MMK_R_da-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_dda-deva.short</key>
		<integer>-10</integer>
		<key>@MMK_R_va-deva</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_rr-deva.short2</key>
	<dict>
		<key>@MMK_R_da-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-100</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-120</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_th-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_s-deva.low</key>
	<dict>
		<key>@MMK_R_gha-deva</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_seven.dnom</key>
	<dict>
		<key>@MMK_R_four.dnom</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_sh-deva</key>
	<dict>
		<key>@MMK_R_gha-deva</key>
		<integer>6</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_sh-deva.high2</key>
	<dict>
		<key>@MMK_R_sha-deva</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_sh-deva.high3</key>
	<dict>
		<key>@MMK_R_aaMatra-deva</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_sh-deva.high4</key>
	<dict>
		<key>@MMK_R_aaMatra-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_t-deva</key>
	<dict>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_t-deva.short</key>
	<dict>
		<key>@MMK_R_rr-deva.short</key>
		<integer>19</integer>
		<key>@MMK_R_th-deva</key>
		<integer>20</integer>
		<key>@MMK_R_va-deva</key>
		<integer>0</integer>
		<key>ka_ra-deva</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_tta-deva</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>-130</integer>
		<key>@MMK_R_da-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_e-deva</key>
		<integer>-90</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_hyphen.deva</key>
		<integer>-160</integer>
		<key>@MMK_R_j-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_n-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_rr-deva.long-high</key>
		<integer>-60</integer>
		<key>@MMK_R_sh-deva.loclMAR</key>
		<integer>-40</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>-110</integer>
		<key>@MMK_R_th-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-120</integer>
		<key>ya-deva.connect</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_ttha-deva</key>
	<dict>
		<key>@MMK_R_aaMatra-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_da-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_e-deva</key>
		<integer>-140</integer>
		<key>@MMK_R_j-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_n-deva</key>
		<integer>-100</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-110</integer>
		<key>@MMK_R_rr-deva.long-high</key>
		<integer>-104</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-110</integer>
		<key>@MMK_R_ya-deva.connect-low</key>
		<integer>-80</integer>
		<key>ma-deva.bottom</key>
		<integer>-70</integer>
		<key>ya-deva.connect</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_u-deva</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>-100</integer>
		<key>@MMK_R_dh-deva</key>
		<integer>-140</integer>
		<key>@MMK_R_e-deva</key>
		<integer>-100</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen.deva</key>
		<integer>-50</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-140</integer>
		<key>@MMK_R_l</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_v-deva</key>
	<dict>
		<key>@MMK_R_da-deva</key>
		<integer>30</integer>
		<key>@MMK_R_g-deva</key>
		<integer>30</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>25</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>20</integer>
		<key>@MMK_R_v-deva</key>
		<integer>50</integer>
		<key>@MMK_R_va-deva</key>
		<integer>50</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>50</integer>
		<key>dha-deva</key>
		<integer>-10</integer>
		<key>v_na-deva</key>
		<integer>70</integer>
	</dict>
	<key>@MMK_L_v-deva.long</key>
	<dict>
		<key>@MMK_R_dda-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_dda-deva.short</key>
		<integer>-60</integer>
		<key>@MMK_R_g-deva</key>
		<integer>40</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-17</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_v-deva.short</key>
	<dict>
		<key>@MMK_R_ya-deva</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_v-deva.short2</key>
	<dict>
		<key>@MMK_R_sha-deva</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_zero</key>
	<dict>
		<key>four</key>
		<integer>-50</integer>
		<key>seven</key>
		<integer>-30</integer>
	</dict>
	<key>Fifty-roman</key>
	<dict>
		<key>@MMK_R_Five-roman</key>
		<integer>-110</integer>
		<key>Hundred-roman</key>
		<integer>-10</integer>
	</dict>
	<key>Five-roman</key>
	<dict>
		<key>Hundred-roman</key>
		<integer>-40</integer>
	</dict>
	<key>Fivehundred-roman</key>
	<dict>
		<key>@MMK_R_Five-roman</key>
		<integer>-40</integer>
		<key>@MMK_R_One-roman</key>
		<integer>-20</integer>
		<key>@MMK_R_Ten-roman</key>
		<integer>-30</integer>
		<key>Five-roman</key>
		<integer>-20</integer>
	</dict>
	<key>Ten-roman</key>
	<dict>
		<key>Hundred-roman</key>
		<integer>-40</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-190</integer>
		<key>@MMK_R_o</key>
		<integer>-120</integer>
		<key>AE</key>
		<integer>-130</integer>
		<key>period</key>
		<integer>-190</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>avagraha-deva</key>
	<dict>
		<key>@MMK_R_sha-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-50</integer>
	</dict>
	<key>b-deva.up</key>
	<dict>
		<key>@MMK_R_j-deva</key>
		<integer>-34</integer>
	</dict>
	<key>bh-deva.init</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>-40</integer>
	</dict>
	<key>c-deva</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>-140</integer>
	</dict>
	<key>c-deva.short</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>-190</integer>
	</dict>
	<key>da-deva</key>
	<dict>
		<key>@MMK_R_tta-deva</key>
		<integer>-70</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>@MMK_R_prime</key>
		<integer>-60</integer>
		<key>four</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-40</integer>
		<key>six</key>
		<integer>-20</integer>
	</dict>
	<key>eight.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-20</integer>
	</dict>
	<key>exclam.deva</key>
	<dict>
		<key>@MMK_R_danda-deva</key>
		<integer>-100</integer>
		<key>@MMK_R_quotesingle.deva</key>
		<integer>-100</integer>
		<key>exclam.deva</key>
		<integer>-90</integer>
		<key>question.deva</key>
		<integer>-150</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>-60</integer>
		<key>four</key>
		<integer>-50</integer>
		<key>seven</key>
		<integer>-50</integer>
		<key>six</key>
		<integer>-60</integer>
		<key>three</key>
		<integer>-10</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>@MMK_R_prime</key>
		<integer>-60</integer>
		<key>five</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
	<key>four-deva</key>
	<dict>
		<key>two-deva</key>
		<integer>-30</integer>
		<key>zero-deva</key>
		<integer>-70</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>five.dnom</key>
		<integer>-10</integer>
		<key>four.dnom</key>
		<integer>-180</integer>
		<key>two.dnom</key>
		<integer>-20</integer>
		<key>zero.dnom</key>
		<integer>-100</integer>
	</dict>
	<key>g-deva</key>
	<dict>
		<key>@MMK_R_b-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_da-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-30</integer>
		<key>ja-deva</key>
		<integer>-90</integer>
	</dict>
	<key>g.ss02</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>germandbls</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
	</dict>
	<key>gh-deva</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>-40</integer>
	</dict>
	<key>h-deva</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>-40</integer>
	</dict>
	<key>j-deva</key>
	<dict>
		<key>@MMK_R_dda-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>50</integer>
	</dict>
	<key>j-deva.long</key>
	<dict>
		<key>@MMK_R_dda-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_i-deva</key>
		<integer>30</integer>
	</dict>
	<key>j-deva.long-up2</key>
	<dict>
		<key>@MMK_R_dda-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_dda-deva.short</key>
		<integer>-10</integer>
		<key>@MMK_R_i-deva</key>
		<integer>-40</integer>
	</dict>
	<key>j-deva.long2</key>
	<dict>
		<key>@MMK_R_j-deva</key>
		<integer>-10</integer>
	</dict>
	<key>j-deva.short</key>
	<dict>
		<key>@MMK_R_tta-deva</key>
		<integer>-5</integer>
		<key>jha-deva.ss11</key>
		<integer>-10</integer>
	</dict>
	<key>jh-deva.short</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-40</integer>
	</dict>
	<key>k-deva</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>60</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>110</integer>
		<key>@MMK_R_j-deva</key>
		<integer>21</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>60</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>30</integer>
		<key>@MMK_R_th-deva</key>
		<integer>160</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_va-deva</key>
		<integer>30</integer>
		<key>t_r-deva.low</key>
		<integer>40</integer>
	</dict>
	<key>k-deva.short</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>0</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>30</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-40</integer>
	</dict>
	<key>k_ss-deva.low</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<integer>30</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>40</integer>
	</dict>
	<key>kh-deva</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>10</integer>
		<key>@MMK_R_va-deva</key>
		<integer>50</integer>
	</dict>
	<key>l-deva</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>-140</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>40</integer>
		<key>@MMK_R_j-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>50</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-10</integer>
		<key>l_l_ya-deva</key>
		<integer>30</integer>
	</dict>
	<key>l-deva.halfform</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<integer>-40</integer>
	</dict>
	<key>l-deva.low</key>
	<dict>
		<key>@MMK_R_th-deva</key>
		<integer>-20</integer>
	</dict>
	<key>m-deva</key>
	<dict>
		<key>@MMK_R_aaMatra-deva</key>
		<integer>20</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-87</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>50</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>-60</integer>
		<key>m_ma-deva</key>
		<integer>-70</integer>
	</dict>
	<key>m-deva.short</key>
	<dict>
		<key>@MMK_R_da-deva</key>
		<integer>-54</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_v-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-20</integer>
		<key>ha-deva</key>
		<integer>-40</integer>
	</dict>
	<key>m-deva.short2</key>
	<dict>
		<key>@MMK_R_b-deva</key>
		<integer>30</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>-20</integer>
	</dict>
	<key>m_ha-deva</key>
	<dict>
		<key>@MMK_R_j-deva</key>
		<integer>20</integer>
	</dict>
	<key>n-deva</key>
	<dict>
		<key>@MMK_R_ha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>30</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>0</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>50</integer>
	</dict>
	<key>n-deva.long</key>
	<dict>
		<key>@MMK_R_aaMatra-deva</key>
		<integer>110</integer>
		<key>@MMK_R_g-deva</key>
		<integer>-20</integer>
	</dict>
	<key>n-deva.short</key>
	<dict>
		<key>@MMK_R_da-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>10</integer>
		<key>d_va-deva</key>
		<integer>-80</integer>
	</dict>
	<key>n-deva.short2</key>
	<dict>
		<key>@MMK_R_th-deva</key>
		<integer>30</integer>
	</dict>
	<key>n-deva.short3</key>
	<dict>
		<key>@MMK_R_da-deva</key>
		<integer>0</integer>
		<key>@MMK_R_dh-deva</key>
		<integer>-110</integer>
		<key>@MMK_R_dh-deva.short</key>
		<integer>-30</integer>
	</dict>
	<key>n-deva.up</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>-100</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-18</integer>
		<key>@MMK_R_dda-deva.short</key>
		<integer>10</integer>
		<key>d_va-deva</key>
		<integer>-70</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>@MMK_R_prime</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-30</integer>
	</dict>
	<key>nine-deva</key>
	<dict>
		<key>four-deva</key>
		<integer>-10</integer>
		<key>three-deva</key>
		<integer>-20</integer>
		<key>two-deva</key>
		<integer>-50</integer>
		<key>zero-deva</key>
		<integer>-50</integer>
	</dict>
	<key>ny-deva</key>
	<dict>
		<key>@MMK_R_gha-deva</key>
		<integer>60</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>70</integer>
	</dict>
	<key>ny-deva.long</key>
	<dict>
		<key>@MMK_R_j-deva</key>
		<integer>60</integer>
	</dict>
	<key>ny-deva.low</key>
	<dict>
		<key>@MMK_R_c-deva</key>
		<integer>-30</integer>
	</dict>
	<key>ny-deva.no-link</key>
	<dict>
		<key>@MMK_R_sha-deva</key>
		<integer>-110</integer>
	</dict>
	<key>ny_cha-deva</key>
	<dict>
		<key>@MMK_R_j-deva</key>
		<integer>-40</integer>
	</dict>
	<key>p-deva.short</key>
	<dict>
		<key>@MMK_R_ta-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-60</integer>
	</dict>
	<key>p-deva.short2</key>
	<dict>
		<key>@MMK_R_ta-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-30</integer>
	</dict>
	<key>parenright.deva</key>
	<dict>
		<key>@MMK_R_quotesingle.deva</key>
		<integer>-50</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-140</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
	</dict>
	<key>ph-deva</key>
	<dict>
		<key>@MMK_R_j-deva</key>
		<integer>0</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>50</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>30</integer>
	</dict>
	<key>q-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>50</integer>
		<key>@MMK_R_ta-deva</key>
		<integer>30</integer>
		<key>@MMK_R_va-deva</key>
		<integer>60</integer>
	</dict>
	<key>q-deva.short</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>40</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>exclamdown</key>
		<integer>-60</integer>
		<key>questiondown</key>
		<integer>-120</integer>
	</dict>
	<key>question.deva</key>
	<dict>
		<key>@MMK_R_danda-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_quotesingle.deva</key>
		<integer>-100</integer>
		<key>exclam.deva</key>
		<integer>-90</integer>
		<key>question.deva</key>
		<integer>-160</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>question</key>
		<integer>-20</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-130</integer>
		<key>@MMK_R_s</key>
		<integer>-120</integer>
		<key>@MMK_R_u</key>
		<integer>-60</integer>
	</dict>
	<key>ra_uuMatra-deva</key>
	<dict>
		<key>@MMK_R_period.deva</key>
		<integer>170</integer>
	</dict>
	<key>rr-deva</key>
	<dict>
		<key>ha-deva</key>
		<integer>-30</integer>
	</dict>
	<key>s-deva</key>
	<dict>
		<key>@MMK_R_tta-deva</key>
		<integer>-20</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>-40</integer>
		<key>eight</key>
		<integer>-40</integer>
		<key>four</key>
		<integer>-120</integer>
		<key>six</key>
		<integer>-20</integer>
	</dict>
	<key>seven.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-70</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>@MMK_R_prime</key>
		<integer>-40</integer>
	</dict>
	<key>six.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-20</integer>
	</dict>
	<key>ss-deva</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<integer>-5</integer>
	</dict>
	<key>t-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>35</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-50</integer>
	</dict>
	<key>t-deva.long</key>
	<dict>
		<key>@MMK_R_ya-deva</key>
		<integer>145</integer>
	</dict>
	<key>t-deva.short</key>
	<dict>
		<key>@MMK_R_ya-deva</key>
		<integer>10</integer>
	</dict>
	<key>t_r-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>40</integer>
	</dict>
	<key>tcaron</key>
	<dict>
		<key>@MMK_R_l</key>
		<integer>50</integer>
		<key>exclam</key>
		<integer>30</integer>
		<key>question</key>
		<integer>80</integer>
	</dict>
	<key>th-deva</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<integer>45</integer>
	</dict>
	<key>three-deva</key>
	<dict>
		<key>zero-deva</key>
		<integer>-10</integer>
	</dict>
	<key>tta-deva</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_va-deva</key>
		<integer>-70</integer>
		<key>dd_tta-deva</key>
		<integer>-40</integer>
	</dict>
	<key>ttha-deva</key>
	<dict>
		<key>@MMK_R_g-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-130</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>y-deva</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<integer>30</integer>
	</dict>
	<key>zero-deva</key>
	<dict>
		<key>four-deva</key>
		<integer>-10</integer>
		<key>two-deva</key>
		<integer>-30</integer>
	</dict>
	<key>zero.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-70</integer>
	</dict>
	<key>zerowidthnonjoiner</key>
	<dict>
		<key>@MMK_R_ya-deva</key>
		<integer>-60</integer>
	</dict>
</dict>
</plist>
