<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>euro</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>T</string>
	</array>
	<key>@MMK_L_Five-roman</key>
	<array>
		<string>Four-roman</string>
		<string>Five-roman</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>@MMK_L_Germandbls</key>
	<array>
		<string>Germandbls</string>
		<string>germandbls.calt</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Iacute_J.loclNLD</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>@MMK_L_Ohm</key>
	<array>
		<string>Omega</string>
		<string>Ohm</string>
	</array>
	<key>@MMK_L_One-roman</key>
	<array>
		<string>One-roman</string>
		<string>Two-roman</string>
		<string>Three-roman</string>
		<string>Six-roman</string>
		<string>Seven-roman</string>
		<string>Eight-roman</string>
		<string>Eleven-roman</string>
		<string>Twelve-roman</string>
		<string>Thousand-roman</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_Ten-roman</key>
	<array>
		<string>Nine-roman</string>
		<string>Ten-roman</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_asciicircum</key>
	<array>
		<string>asciicircum</string>
		<string>asciicircum.case</string>
	</array>
	<key>@MMK_L_bar</key>
	<array>
		<string>bar</string>
		<string>brokenbar</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_eight.dnom</key>
	<array>
		<string>eight.dnom</string>
		<string>eightinferior</string>
	</array>
	<key>@MMK_L_eight.numr</key>
	<array>
		<string>eight.numr</string>
		<string>eightsuperior</string>
	</array>
	<key>@MMK_L_eth</key>
	<array>
		<string>eth</string>
		<string>f_eth.liga</string>
		<string>f_f_eth.liga</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>longs</string>
		<string>f_f.liga</string>
		<string>longs_longs.liga</string>
	</array>
	<key>@MMK_L_five.dnom</key>
	<array>
		<string>five.dnom</string>
		<string>fiveinferior</string>
	</array>
	<key>@MMK_L_five.numr</key>
	<array>
		<string>five.numr</string>
		<string>fivesuperior</string>
	</array>
	<key>@MMK_L_four.dnom</key>
	<array>
		<string>four.dnom</string>
		<string>fourinferior</string>
	</array>
	<key>@MMK_L_four.numr</key>
	<array>
		<string>four.numr</string>
		<string>foursuperior</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_g.ss02</key>
	<array>
		<string>g.ss02</string>
		<string>gbreve.ss02</string>
		<string>gcommaaccent.ss02</string>
		<string>gdotaccent.ss02</string>
	</array>
	<key>@MMK_L_hacek</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
		<string>tcaron</string>
		<string>f_f_lcaron.liga</string>
		<string>f_lcaron.liga</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>softhyphen</string>
	</array>
	<key>@MMK_L_hyphen.case</key>
	<array>
		<string>hyphen.case</string>
		<string>softhyphen.case</string>
	</array>
	<key>@MMK_L_increment</key>
	<array>
		<string>Delta</string>
		<string>increment</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>iacute_j.loclNLD</string>
		<string>ij</string>
		<string>j</string>
		<string>jdotless</string>
		<string>eng</string>
		<string>f_f_j.liga</string>
		<string>f_j.liga</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>x</string>
		<string>f_f_k.liga</string>
		<string>f_f_kcommaaccent.liga</string>
		<string>f_k.liga</string>
		<string>f_kcommaaccent.liga</string>
		<string>longs_k.liga</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>dcroat</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>f_f_l.liga</string>
		<string>f_f_lcommaaccent.liga</string>
		<string>f_lcommaaccent.liga</string>
		<string>fl</string>
		<string>longs_l.liga</string>
		<string>longs_longs_l.liga</string>
	</array>
	<key>@MMK_L_micro</key>
	<array>
		<string>mu</string>
		<string>micro</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>T_h</string>
		<string>f_adieresis.liga</string>
		<string>f_f_adieresis.liga</string>
		<string>f_f_h.liga</string>
		<string>f_h.liga</string>
		<string>longs_h.liga</string>
	</array>
	<key>@MMK_L_nine.dnom</key>
	<array>
		<string>nine.dnom</string>
		<string>nineinferior</string>
	</array>
	<key>@MMK_L_nine.numr</key>
	<array>
		<string>nine.numr</string>
		<string>ninesuperior</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>ae</string>
		<string>ae.ss01</string>
		<string>b</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>f_b.liga</string>
		<string>f_f_b.liga</string>
		<string>f_f_odieresis.liga</string>
		<string>f_odieresis.liga</string>
		<string>longs_b.liga</string>
	</array>
	<key>@MMK_L_one.dnom</key>
	<array>
		<string>one.dnom</string>
		<string>oneinferior</string>
	</array>
	<key>@MMK_L_one.numr</key>
	<array>
		<string>one.numr</string>
		<string>onesuperior</string>
	</array>
	<key>@MMK_L_ordmasculine</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_L_percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>ellipsis</string>
	</array>
	<key>@MMK_L_pointingindexleftwhite</key>
	<array>
		<string>leftBlackPointingIndex</string>
		<string>leftWhitePointingindex</string>
	</array>
	<key>@MMK_L_pointingindexrightwhite</key>
	<array>
		<string>rightBlackPointingIndex</string>
		<string>rightWhitePointingindex</string>
	</array>
	<key>@MMK_L_prime</key>
	<array>
		<string>quadrupleprime</string>
		<string>tripleprime</string>
		<string>minute</string>
		<string>second</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_seven.dnom</key>
	<array>
		<string>seven.dnom</string>
		<string>seveninferior</string>
	</array>
	<key>@MMK_L_seven.numr</key>
	<array>
		<string>seven.numr</string>
		<string>sevensuperior</string>
	</array>
	<key>@MMK_L_six.dnom</key>
	<array>
		<string>six.dnom</string>
		<string>sixinferior</string>
	</array>
	<key>@MMK_L_six.numr</key>
	<array>
		<string>six.numr</string>
		<string>sixsuperior</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
		<string>slash</string>
		<string>divisionslash</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>c_t</string>
		<string>longs_t.liga</string>
		<string>s_t</string>
	</array>
	<key>@MMK_L_three.dnom</key>
	<array>
		<string>three.dnom</string>
		<string>threeinferior</string>
	</array>
	<key>@MMK_L_three.numr</key>
	<array>
		<string>three.numr</string>
		<string>threesuperior</string>
	</array>
	<key>@MMK_L_two.dnom</key>
	<array>
		<string>two.dnom</string>
		<string>twoinferior</string>
	</array>
	<key>@MMK_L_two.numr</key>
	<array>
		<string>two.numr</string>
		<string>twosuperior</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>f_f_i.liga</string>
		<string>f_f_idieresis.liga</string>
		<string>f_f_igrave.liga</string>
		<string>f_f_iogonek.liga</string>
		<string>f_idieresis.liga</string>
		<string>f_igrave.liga</string>
		<string>f_iogonek.liga</string>
		<string>fi</string>
		<string>longs_i.liga</string>
		<string>longs_longs_i.liga</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_zero</key>
	<array>
		<string>zero</string>
		<string>six</string>
	</array>
	<key>@MMK_L_zero.dnom</key>
	<array>
		<string>zero.dnom</string>
		<string>zeroinferior</string>
	</array>
	<key>@MMK_L_zero.numr</key>
	<array>
		<string>zero.numr</string>
		<string>zerosuperior</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
	</array>
	<key>@MMK_R_Five-roman</key>
	<array>
		<string>Five-roman</string>
		<string>Six-roman</string>
		<string>Seven-roman</string>
		<string>Eight-roman</string>
		<string>Eleven-roman</string>
	</array>
	<key>@MMK_R_Germandbls</key>
	<array>
		<string>Germandbls</string>
		<string>germandbls.calt</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>numero</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Iacute_J.loclNLD</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_Ohm</key>
	<array>
		<string>Omega</string>
		<string>Ohm</string>
	</array>
	<key>@MMK_R_One-roman</key>
	<array>
		<string>One-roman</string>
		<string>Two-roman</string>
		<string>Three-roman</string>
		<string>Four-roman</string>
		<string>Nine-roman</string>
		<string>Fifty-roman</string>
		<string>Fivehundred-roman</string>
		<string>Thousand-roman</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>T_h</string>
	</array>
	<key>@MMK_R_Ten-roman</key>
	<array>
		<string>Ten-roman</string>
		<string>Twelve-roman</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_asciicircum</key>
	<array>
		<string>asciicircum</string>
		<string>asciicircum.case</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
	</array>
	<key>@MMK_R_bar</key>
	<array>
		<string>bar</string>
		<string>brokenbar</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_eight.dnom</key>
	<array>
		<string>eight.dnom</string>
		<string>eightinferior</string>
	</array>
	<key>@MMK_R_eight.numr</key>
	<array>
		<string>eight.numr</string>
		<string>eightsuperior</string>
	</array>
	<key>@MMK_R_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>f_adieresis.liga</string>
		<string>f_b.liga</string>
		<string>f_eth.liga</string>
		<string>f_f.liga</string>
		<string>f_f_adieresis.liga</string>
		<string>f_f_b.liga</string>
		<string>f_f_eth.liga</string>
		<string>f_f_h.liga</string>
		<string>f_f_i.liga</string>
		<string>f_f_idieresis.liga</string>
		<string>f_f_igrave.liga</string>
		<string>f_f_iogonek.liga</string>
		<string>f_f_j.liga</string>
		<string>f_f_k.liga</string>
		<string>f_f_kcommaaccent.liga</string>
		<string>f_f_l.liga</string>
		<string>f_f_lcaron.liga</string>
		<string>f_f_lcommaaccent.liga</string>
		<string>f_f_odieresis.liga</string>
		<string>f_h.liga</string>
		<string>f_idieresis.liga</string>
		<string>f_igrave.liga</string>
		<string>f_iogonek.liga</string>
		<string>f_j.liga</string>
		<string>f_k.liga</string>
		<string>f_kcommaaccent.liga</string>
		<string>f_lcaron.liga</string>
		<string>f_lcommaaccent.liga</string>
		<string>f_odieresis.liga</string>
		<string>fi</string>
		<string>fl</string>
		<string>longs_t.liga</string>
		<string>longs_b.liga</string>
		<string>longs_h.liga</string>
		<string>longs_i.liga</string>
		<string>longs_k.liga</string>
		<string>longs_l.liga</string>
		<string>longs_longs.liga</string>
		<string>longs_longs_i.liga</string>
		<string>longs_longs_l.liga</string>
	</array>
	<key>@MMK_R_five.dnom</key>
	<array>
		<string>five.dnom</string>
		<string>fiveinferior</string>
	</array>
	<key>@MMK_R_five.numr</key>
	<array>
		<string>five.numr</string>
		<string>fivesuperior</string>
	</array>
	<key>@MMK_R_four.dnom</key>
	<array>
		<string>four.dnom</string>
		<string>fourinferior</string>
	</array>
	<key>@MMK_R_four.numr</key>
	<array>
		<string>four.numr</string>
		<string>foursuperior</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>softhyphen</string>
	</array>
	<key>@MMK_R_hyphen.case</key>
	<array>
		<string>hyphen.case</string>
		<string>softhyphen.case</string>
	</array>
	<key>@MMK_R_increment</key>
	<array>
		<string>Delta</string>
		<string>increment</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_micro</key>
	<array>
		<string>mu</string>
		<string>micro</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>idotless</string>
		<string>iacute_j.loclNLD</string>
		<string>jdotless</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_R_nine.dnom</key>
	<array>
		<string>nine.dnom</string>
		<string>nineinferior</string>
	</array>
	<key>@MMK_R_nine.numr</key>
	<array>
		<string>nine.numr</string>
		<string>ninesuperior</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>ae.ss01</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>g.ss02</string>
		<string>gbreve.ss02</string>
		<string>gcommaaccent.ss02</string>
		<string>gdotaccent.ss02</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>c_t</string>
		<string>ampersand</string>
	</array>
	<key>@MMK_R_one.dnom</key>
	<array>
		<string>one.dnom</string>
		<string>oneinferior</string>
	</array>
	<key>@MMK_R_one.numr</key>
	<array>
		<string>one.numr</string>
		<string>onesuperior</string>
	</array>
	<key>@MMK_R_ordmasculine</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>ellipsis</string>
	</array>
	<key>@MMK_R_pointingindexleftwhite</key>
	<array>
		<string>leftBlackPointingIndex</string>
		<string>leftWhitePointingindex</string>
	</array>
	<key>@MMK_R_pointingindexrightwhite</key>
	<array>
		<string>rightBlackPointingIndex</string>
		<string>rightWhitePointingindex</string>
	</array>
	<key>@MMK_R_prime</key>
	<array>
		<string>quadrupleprime</string>
		<string>tripleprime</string>
		<string>minute</string>
		<string>second</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>s_t</string>
	</array>
	<key>@MMK_R_seven.dnom</key>
	<array>
		<string>seven.dnom</string>
		<string>seveninferior</string>
	</array>
	<key>@MMK_R_seven.numr</key>
	<array>
		<string>seven.numr</string>
		<string>sevensuperior</string>
	</array>
	<key>@MMK_R_six.dnom</key>
	<array>
		<string>six.dnom</string>
		<string>sixinferior</string>
	</array>
	<key>@MMK_R_six.numr</key>
	<array>
		<string>six.numr</string>
		<string>sixsuperior</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
		<string>divisionslash</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_three.dnom</key>
	<array>
		<string>three.dnom</string>
		<string>threeinferior</string>
	</array>
	<key>@MMK_R_three.numr</key>
	<array>
		<string>three.numr</string>
		<string>threesuperior</string>
	</array>
	<key>@MMK_R_two.dnom</key>
	<array>
		<string>two.dnom</string>
		<string>twoinferior</string>
	</array>
	<key>@MMK_R_two.numr</key>
	<array>
		<string>two.numr</string>
		<string>twosuperior</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_zero</key>
	<array>
		<string>zero</string>
		<string>nine</string>
	</array>
	<key>@MMK_R_zero.dnom</key>
	<array>
		<string>zero.dnom</string>
		<string>zeroinferior</string>
	</array>
	<key>@MMK_R_zero.numr</key>
	<array>
		<string>zero.numr</string>
		<string>zerosuperior</string>
	</array>
</dict>
</plist>
